<!DOCTYPE html>
<html>
  <head>
    
    <title>Test</title>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  </head>
  
  <body>
    
    <div style="width: 1280px; height: 1286px; position: relative; background: white">
        <div style="width: 550px; height: 382px; left: 80px; top: 317px; position: absolute"></div>
        <div style="width: 550px; height: 382px; left: 676px; top: 317px; position: absolute"><span style="color: black; font-size: 32px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Our inspiration<br/></span><span style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word"><br/>The inspiration behind our app came from a deep desire to help people suffering from Motor Neuron Disease and other debilitating health conditions that make it difficult or impossible for them to communicate effectively.<br/><br/>We realized that there was a pressing need for an accessible, inexpensive, and non-invasive solution to help these individuals communicate effectively with others.<br/><br/>Our goal was to create a tool that would empower these patients, giving them a voice and a means to express themselves with ease.</span></div>
        <div style="width: 550px; height: 382px; left: 80px; top: 818px; position: absolute"><span style="color: black; font-size: 32px; font-family: Roboto; font-weight: 400; word-wrap: break-word">What does EyeType do?<br/></span><span style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word"><br/>Our app functions as an intelligent on-screen keyboard that can be controlled with the user's eyes. By utilizing state of the art eye-tracking technology, the app allows anyone to be able to type words and sentences without the need for physical touch or speech. <br/><br/>The keyboard is designed with a predictive text feature that suggests words based on the user's key inputs, reducing the effort required for typing and speeding up communication.</span></div>


        <div style="width: 550px; height: 450px; left: 80px; top: 317px; position: absolute; background: #6B9AC4; border-radius: 20px">
            <img style="width: 450px; height: auto; left: 48px; top: 51.04px; position: absolute; border-radius: 20px" src="{{url_for('static', filename='keyboard.jpg')}}" />
        </div>
        

        <div style="width: 280px; padding-top: 12px; padding-left: 29px; padding-right: 30px; left: 500px; top: 207px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 221px; height: 64px; color: #6B9AC4; font-size: 32px; font-family: Roboto; font-weight: 900; word-wrap: break-word">About EyeType</div>
        </div>
        <div style="height: 409px; left: 676px; top: 818px; position: absolute">
          <div style="width: 427px; height: 350.31px; left: 0px; top: 58.69px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Robin Lee, developer<br/><br/>Bryan Alexander, developer<br/><br/>Ashley Cha, designer<br/></div>
          <div style="width: 171.58px; height: 58.69px; left: 0px; top: 0px; position: absolute; color: #6B9AC4; font-size: 32px; font-family: Roboto; font-weight: 900; word-wrap: break-word">The Team</div>
        </div>
        <div style="width: 469px; left: 676px; top: 35px; position: absolute; justify-content: flex-start; align-items: center; gap: 33px; display: inline-flex">
          <div style="width: 140px; height: 51px; position: relative">
            <div style="width: 140px; height: 51px; left: 0px; top: 0px; position: absolute; background: #6B9AC4; border-radius: 20px"></div>
            <div style="width: 65px; left: 37px; top: 11px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word" onclick="window.location='/';">Home</div>
          </div>
          <div style="width: 140px; height: 51px; position: relative">
            <div style="width: 140px; height: 51px; left: 0px; top: 0px; position: absolute; background: #6B9AC4; border-radius: 20px"></div>
            <div style="width: 65px; left: 37px; top: 11px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word" onclick="window.location='/about';">About</div>
          </div>
          <div style="width: 169px; height: 51px; position: relative">
            <div style="width: 169px; height: 51px; left: 0px; top: 0px; position: absolute; background: #6B9AC4; border-radius: 20px"></div>
            <div style="width: 120px; left: 24px; top: 11px; position: absolute; color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word" onclick="window.location='/getstarted';">Get started</div>
          </div>
        </div>
        <div style="padding-top: 17px; padding-bottom: 27px; padding-left: 57px; padding-right: 86px; left: 117px; top: 29px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
          <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 400; word-wrap: break-word">EyeType</div>
        </div>
        <img style="width: 122.74px; height: 92.25px; left: 34px; top: 51.04px; position: absolute; transform: rotate(-17.07deg); transform-origin: 0 0" src="{{url_for('static', filename='H4H_Logo.png')}}" />
      </div>

  </body>
</html>
